In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline

$$ Property crime = \alpha + Population + Population^2 + Murder + Robbery$$

In [2]:
#grab and process raw data
df = pd.read_excel('data/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')

In [3]:
#name of columns
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [4]:
#rename columns of interest
df.rename(columns={'Murder and\nnonnegligent\nmanslaughter':'Murder'}, inplace = True) 
df.rename(columns={'Property\ncrime':'Property_Crime'}, inplace = True)

In [5]:
df=df[['City','Property_Crime','Population','Murder','Robbery']]

In [6]:
#view top five ros
df.head(5)

                       City  Property_Crime  Population  Murder  Robbery
0             Adams Village              12        1861       0        0
1  Addison Town and Village              24        2577       0        0
2             Akron Village              16        2846       0        0
3                    Albany            4090       97956       8      227
4            Albion Village             223        6388       0        4

In [7]:
#see the counts to determine if we're missing any data
df.count()

City              348
Property_Crime    348
Population        348
Murder            348
Robbery           348
dtype: int64

In [9]:
#add in population squared
df['Pop_sq'] = df['Population'] ** 2
df.head(5)

,City,Property_Crime,Population,Murder,Robbery,Pop_sq
0,Adams Village,12,1861,0,0,3463321
1,Addison Town and Village,24,2577,0,0,6640929
2,Akron Village,16,2846,0,0,8099716
3,Albany,4090,97956,8,227,9595377936
4,Albion Village,223,6388,0,4,40806544

In [12]:
#dummy variables for continuous variables
#1 for values greater than 0
df['Murder1'] = np.where((df['Murder']>0), 1,0)
df['Robbery1'] = np.where((df['Robbery']>0), 1,0)
df.head(5)

,City,Property_Crime,Population,Murder,Robbery,Pop_sq,Murder1,Robbery1
0,Adams Village,12,1861,0,0,3463321,0,0
1,Addison Town and Village,24,2577,0,0,6640929,0,0
2,Akron Village,16,2846,0,0,8099716,0,0
3,Albany,4090,97956,8,227,9595377936,1,1
4,Albion Village,223,6388,0,4,40806544,0,1